{% extends 'dashboard/index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Empresas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background: #ededed;
        }
        
        .table_outer {
            padding: 20px 0;
        }
        
        table td,
        table th {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        
        .card {
            border-radius: .5rem;
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <div id="liveAlertPlaceholder"></div>
        <!-- Sección superior -->
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Reportes Envíos Realizados</h2>
            <!-- <a class="btn btn-primary" href="/planilla/crearEmpresa">Crear Empresa</a> -->
        </div>

        <!-- Filtros de búsqueda -->
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Filtros de Búsqueda</h5>
                <form id="filtros-form" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="nombreEmpresa" class="form-label">Nombre de Envío</label>
                            <input value="{{ FiltroNombre }}" type="text" class="form-control" id="nombreEmpresa" name="nombreEmpresa" placeholder="Nombre de Envío">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="fechaRegistro" class="form-label">Fecha de Creación: Desde</label>
                            <input value="{{ FiltroDesde }}" type="date" class="form-control" id="fechaRegistroDesde" name="fechaRegistroDesde">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="fechaRegistro" class="form-label">Fecha de Creación: Hasta</label>
                            <input value="{{ FiltroHasta }}" type="date" class="form-control" id="fechaRegistro" name="fechaRegistroHasta">
                        </div>
                    </div>
                    <button type="button" onclick="filtrar()" class="btn btn-secondary">Buscar</button>
                    <a href="/planilla/reportes/" type="submit" class="btn btn-danger">Resetear Filtros</a>
                    <button type="button" onclick="generarReporte()" class="btn btn-warning">Generar PDF</button>
                </form>
            </div>
        </div>

        <!-- Resultados de la búsqueda -->
        <div id="resultados">
            <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
            <section class="table_outer">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="card border-0 shadow">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover mb-0 ">
                                            <thead class="table-light">
                                                <tr>
                                                    <th scope="col">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value=""
                                                                id="select_all" />
                                                        </div>
                                                    </th>
                                                    <th scope="col">#</th>
                                                    <th scope="col">NOMBRE ENVIO</th>
                                                    <th scope="col">REMITENTE</th>
                                                    <th scope="col">CREACIÓN</th>
                                                    <th scope="col">TOTAL ENVIOS</th>
                                                    <th scope="col">ACCIÓN</th>
                                                </tr>
                                            </thead>
                                            {% for data in Envios %}
                                            <tbody>
                                                <tr>
                                                    <th scope="row">
                                                        <div class="form-check">
                                                            <input class="form-check-input checkbox" type="checkbox" value=""
                                                                id="flexCheckDefault1" />
                                                        </div>
                                                    </th>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ data.NombreEnvio}}</td>
                                                    <td>{{ data.UsuarioRemitente.usuario.username }}</td>
                                                    <td>{{ data.fechaEnvio }}</td>
                                                    <td>{{ data.TotalEnvios}}</td>
                                                    <td>
                                                        <!-- <button type="button"  class="btn btn-success btn-sm px-2">
                                                            <i class="fa-solid fa-pen-to-square"></i>
                                                        </button> -->
                                                        <a href="/planilla/envio/{{ data.TokenAuth }}" type="button" class="btn btn-primary btn-sm px-2 validateButton">
                                                            <i id="deletei" class="fa-solid fa-eye"></i>
                                                        </a>
                                                        <!-- <button type="button" class="btn btn-danger btn-sm px-2">
                                                            <i class="fa-solid fa-trash"></i>
                                                        </button> -->
                                                    </td>
                                                </tr>
                                            </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script>

        $(document).ready(function () {
            // Select/deselect all checkboxes
            $('#select_all').click(function () {
                if ($(this).is(':checked')) {
                    $('.checkbox').prop('checked', true);
                } else {
                    $('.checkbox').prop('checked', false);
                }
            });
        
            // If all checkboxes are selected, select the top checkbox
            $('.checkbox').click(function () {
                if ($('.checkbox:checked').length === $('.checkbox').length) {
                    $('#select_all').prop('checked', true);
                } else {
                    $('#select_all').prop('checked', false);
                }
            });
        });

        document.querySelectorAll(".validateButton").forEach(function(button) {
            button.addEventListener("click", function() {
                this.querySelector(".spinner-border").style.display = "inline-block";
                var icono = this.querySelector(".fa-eye");
                icono.style.display = "none";
        
                setTimeout(() => {
                    this.disabled = true; 
                }, 1);
            });
        });

        function showAlert(message, type) {
            var wrapper = document.createElement('div');
            wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible" role="alert">'
                + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>';
            document.getElementById('liveAlertPlaceholder').append(wrapper);

            setTimeout(() => {
                wrapper.querySelector('.alert').classList.add('alert-fadeout');
                setTimeout(() => {
                    wrapper.remove();
                }, 10000);
            }, 10000);
        }

        {% if messages %}
            {% for message in messages %}
                showAlert("{{ message }}", "{{ message.tags }}");
            {% endfor %}
        {% endif %}

    </script>
    <script src="/static/js/planilla/signbolReportes.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}