{% extends 'dashboard/index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/signbox/cargar_pdf.css">
</head>
<body>  
    <br><br><br>
    <div class="container">
        <div class="box">
            <div class="titulo">
                <h2>Seleccionar Documentos</h2>
            </div>
            <form action="{% url 'subir-archivo' %}" method="post" enctype="multipart/form-data" class="dropzone" id="my-dropzone">
                {% csrf_token %}
                <div class="fallback">
                    {{ form.as_p }}  
                </div>          
            </form>
            <br>
            <!-- <a href="/sign">
                <button type="button" class="dropzone-btn" disabled>Siguiente</button> 
            </a>  -->
            <div id="myModal">              
                <div class="box_2">   
                    <p><span id="numDocumentos">0</span> Documentos seleccionados.</p>
                    <a href="/sign">
                        <button type="button" class="dropzone-btn">Siguiente</button> 
                    </a> 
                </div>
            </div>
        </div>
        <br>
    </div> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/static/js/signbox/cargar_pdf.js"></script>
</body>
</html>
{% endblock %}