body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
  }

  #sidebar {
    background-color: #0063ae;
    color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 200px;
    height: 100vh;
    margin-top: 6.7%;
  }

  #sidebar a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 16px;
    display: inline-block;
  }

  #sidebar a:hover {
    background-color: #ffffff;
    color: #0063ae;
    border-radius: 10px
  }

  #content {
    flex: 1;
  }

  #header {
    background-color: #ffffff;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    margin-left: -180px;
  }

  #navbar {
    background-color: #0063ae;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left; /* Centrar horizontalmente */
    align-items: center;
  }

  #navbar a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 16px;
    display: inline-block;
  }

  #navbar a:hover {
    background-color: #ffffff;
    color: #0063ae;
    border-radius: 10px
  }

  #icon {
    display: inline-block;
    margin-right: 10px;
  }

  .material-symbols-outlined {
      vertical-align: -4px;
      font-size: 20px;
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24
   }

   .imagen {
      width: 250px;
   }
  #sidebar a.active,
  #sidebar a.active:hover {
      background-color: #ffffff;
      color: #0063ae;
      border-radius: 10px;
  }