{% extends 'app_base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign</title>
    <link rel="stylesheet" href="/static/styles/eSignAnyWhere/previewDocument.css">

</head>
    <body>
        <div class="caja">
            <div class="box_1_responsive">
                    <div class="box_1">
                        <h1>{{ username }}</h1>
                    </div>
                </div>
                <div class="statusBox">
                    <p id="statusDoc">{{ estado }}</p>
                </div>
                <div id="liveAlertPlaceholder"></div>
                <div class="container">
                    <div class="headtext">
                        <h1>Documentos a Firmar</h1>
                    </div>
                    <br>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Documentos
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple" class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre Documento</th>
                                        <th>Tamaño Documento</th>
                                        <th>Archivo</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for data in documentos %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ data.0 }}</td>
                                        <td>{{ data.1 }}</td>
                                        <td>
                                            <button class="btn btn-dark" onclick="mostrar('{{data.0}}', '{{ carpeta }}')" data-bs-toggle="modal" data-bs-target="#exampleModal">Ver</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <form action="" method="post">
                            {% csrf_token %}
                            <!-- <button type="submit" class="btn btn-dark">
                                Siguiente
                            </button>   -->
                            <button class="btn btn-dark" type="submit" id="validateButton">
                                <span class="spinner-border spinner-border-sm" aria-hidden="true" style="display: none;"></span>
                                <span role="status">Siguiente</span>
                            </button>
                        </form>     
                    </div>
                </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">DemoFirma</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="contenedor" class="modal-body" style="height: 80vh;"></div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
        </div>

     <script src="/static/js/eSignAnyWhere/previewDocuments.js"></script>
    </body>
    <script>
        function showAlert(message, type) {
            var wrapper = document.createElement('div');
            wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible" role="alert">'
                + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>';
            document.getElementById('liveAlertPlaceholder').append(wrapper);

            setTimeout(() => {
                wrapper.querySelector('.alert').classList.add('alert-fadeout');
                setTimeout(() => {
                    wrapper.remove();
                }, 10000);
            }, 10000);
        }

        {% if messages %}
            {% for message in messages %}
                showAlert("{{ message }}", "danger");
            {% endfor %}
        {% endif %}

        document.getElementById("validateButton").addEventListener("click", function() {
            this.querySelector(".spinner-border").style.display = "inline-block";
            
            setTimeout(() => {
                this.disabled = true;
            }, 1);
        });
    </script>
</html>
{% endblock %}