<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/oneshot/one_shot_PlantillaRestablecerCorreo.css">
</head>
<body>
    <div class="boxHeader">
        <h1>Notificación de cambio de contraseña</h1>
    </div>   
    <p>Estimado usuario {{ nombre }}, </p>
    <p>Hemos recibido una solicitud para restablecer la contraseña de su cuenta.</p>
    <p>Haz click en el siguiente botón para continuar: </p><br>
        <div class="contenedor">
            <div class="box">
                <div class="box_2">
                    <!-- <a href="{{ data }}">Cambiar contraseña</a> -->
                    <a href="{{ data }}">Cambiar contraseña</a>
                    <!-- <input style="display: none;" id="id_request" name="id_request" type="text" value="153232"> -->
                </div>
            </div>
        </div> 
</body>
</html>