<!DOCTYPE html>
<html>

<head>
  <title>Access Denied</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
    body {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-family: system-ui;
      }
      
      h1 {
        color: red;
      }
      
      h6 {
        color: red;
        text-decoration: underline;
      }
      .centrar-div-denegado{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  </style>
</head>
<body>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top w3-center"><code>Acceso Denegado</code></h1>
    <div class="centrar-div-denegado">
        <img style="width: 150px;" src="/static/img/app/no hay paso.jpg" alt="">
    </div>
    <hr class="w3-border-white w3-animate-left" style="margin:auto;width:50%">
    <h3 class="w3-center w3-animate-right">No tienes permisos para ver este sitio</h3>    
    <div class="centrar-div-denegado">
        <a href="/home/" class="w3-center w3-animate-zoom">Regresar a página principal</h6>
    </div>
    
  </div>
</body>

</html>