{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/app/app_base.css">
    <title>Sidebar With Bootstrap</title>
    <style>
        /* Estilos para vistas móviles */
        @media (max-width: 768px) {
            .sidebar {
                display: none;
            }
            .table th, .table td {
                font-size: 0.8rem;
                padding: 0.5rem;
            }
            .btn {
                font-size: 0.75rem;
                padding: 0.4rem;
            }
            #divSuperior, #textoUser, #divBox, #buttonSuperior, #spanSuperior{
                background-color: rgb(1, 117, 212);
            }
        }
    </style>
</head>
<body>
    <div class="wrapper d-flex">
        <!-- Sidebar (visible solo en pantallas grandes) -->
        <aside id="sidebar" class="sidebar d-none d-md-block">
            <div class="h-100">
                <div class="sidebar-logo">
                    <a href="/home">DemoFirma</a>
                </div>
                <!-- Navegación del Sidebar -->
                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Sistemas de Firmado
                    </li>
                    {% if usuario_in_signbox %}
                        <li class="sidebar-item">
                            <a href="/subir-archivo" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard" aria-expanded="false" aria-controls="dashboard">
                                <i class="fa-solid fa-sliders pe-2"></i>
                                SignBox API
                            </a>
                            <ul id="dashboard" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                                <li class="sidebar-item">
                                    <a href="/signbox/uploadFiles" class="sidebar-link">Firmar</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="/signbox/historial" class="sidebar-link">Historial</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if usuario_in_oneshot %}
                        <li class="sidebar-item">
                            <a href="/menu_one_shot" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pages" aria-expanded="false" aria-controls="pages">
                                <i class="fa-regular fa-file-lines pe-2"></i>
                                OneShot API
                            </a>
                            <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                                <li class="sidebar-item">
                                    <a href="/oneshot/solicitud" class="sidebar-link">Generar Solicitudes</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="/oneshot/historial" class="sidebar-link">Historial Solicitudes</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if usuario_in_vol %}
                        <li class="sidebar-item">
                            <a href="/vol/home" class="sidebar-link">
                                <i class="fa-solid fa-list pe-2"></i>
                                VOL API
                            </a>
                        </li>
                    {% endif %}
                    {% if usuario_in_4identity %}
                        <li class="sidebar-item">
                            <a href="/4identity/home_4identity" class="sidebar-link">
                                <i class="fa-regular fa-user pe-2"></i>
                                4Identity
                            </a>
                        </li>
                    {% endif %}
                    {% if usuario_in_esign %}
                        <li class="sidebar-item">
                            <a href="/uploadFile" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#esign" aria-expanded="false" aria-controls="esign">
                                <i class="fa-solid fa-pen pe-2"></i>
                                eSignAnyWhere
                            </a>
                            <ul id="esign" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                                <li class="sidebar-item">
                                    <a href="/eSignAnyWhere/uploadFile" class="sidebar-link">Generar Solicitudes</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="/eSignAnyWhere/solicitudes" class="sidebar-link">Historial Solicitudes</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if usuario_in_signbol %}
                        <li class="sidebar-item">
                            <a href="/planilla" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pagesPlanilla" aria-expanded="false" aria-controls="pagesPlanilla">
                                <i class="fa-regular fa-file-lines pe-2"></i>
                                SignBol
                            </a>
                            <ul id="pagesPlanilla" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                                {% if usuario_in_plantilla %}
                                    <li class="sidebar-item">
                                        <a href="/planilla/plantilla" class="sidebar-link">Plantillas</a>
                                    </li>
                                {% endif %}
                                {% if usuario_in_signbolContactos %}
                                    <li class="sidebar-item">
                                        <a href="/planilla/contactos" class="sidebar-link">Contactos</a>
                                    </li>
                                {% endif %}
                                {% if usuario_in_signbolEnvios %}
                                    <li class="sidebar-item">
                                        <a href="/planilla/envios" class="sidebar-link">Envíos</a>
                                    </li>
                                {% endif %}
                                {% if usuario_in_signbolReportes %}
                                    <li class="sidebar-item">
                                        <a href="/planilla/reportes" class="sidebar-link">Reportes</a>
                                    </li>
                                {% endif %}
                                {% if usuario_in_signbolAdmin %}
                                    <li class="sidebar-item">
                                        <a href="/planilla/admin" class="sidebar-link">Usuarios y Permisos</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if request.user.is_superuser %}
                        <li class="sidebar-header">
                            Mantenimiento
                        </li>
                        <li class="sidebar-item">
                            <a href="/users/" class="sidebar-link">
                                <i class="fa-solid fa-user pe-2"></i>
                                DemoFirma
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/billing/" class="sidebar-link">
                                <i class="fa-solid fa-sliders pe-2"></i>
                                Credenciales Billing
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/hostIP/" class="sidebar-link">
                                <i class="fa-solid fa-sliders pe-2"></i>
                                Host IP
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/planilla" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#adminPlanilla" aria-expanded="false" aria-controls="adminPlanilla">
                                <i class="fa-regular fa-file-lines pe-2"></i>
                                Super Admin SignBol
                            </a>
                            <ul id="adminPlanilla" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                                <li class="sidebar-item">
                                    <a href="/planilla/empresas" class="sidebar-link">Empresas</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="/planilla/usersSignbol" class="sidebar-link">Usuarios</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </aside>
        <!-- Componente Principal -->
        <div id="divContenedor" class="main w-100">
            <nav class="navbar navbar-expand px-3 border-bottom" style="background-color: rgb(1, 117, 212);">
                <button  id="buttonSuperior" class="btn d-md-none" type="button" data-bs-theme="dark">
                    <span id="spanSuperior" class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex w-100 justify-content-between" id="divSuperior">
                    <div class="mx-auto" id="textoCentral">
                    </div>
                    <div id="divBox">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="textoUser" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              {{ user }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                              <li><a class="dropdown-item" href="{% url 'salir' %}">Cerrar Sesión</a></li>
                            </ul>
                        </li>
                    </div>
                </div>
            </nav>
            <main class="content px-3 py-2">
                <div class="container-fluid">
                    <div class="mb-3">
                      {% block content %}
                      {% endblock %}
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="{% static 'js/4identity/4identity_base.js' %}"></script>
</body>
</html>
